<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Default">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./tests/Setup</exclude>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./includes</directory>
            <directory suffix=".php">./config</directory>
            <file>./index.php</file>
        </include>
    </coverage>
    <php>
        <server name="DOCUMENT_ROOT" value="./"/>
        <server name="REQUEST_URI" value="/"/>
        <server name="SCRIPT_NAME" value="/index.php"/>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit> 